<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">

    <h2>
      <%= I18n.t("errors.messages.not_saved", count: errors.count,
                 resource: I18n.t('activerecord.models.event')) %>
    </h2>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>