<nobr class="user-avatar">
<%= image_tag(user_avatar(user), class: 'img-icon') %>
<% if request.path == user_path(user) %>
  <p class="pl-3"><%= user.name %></p>
<% else %>
  <%= link_to user.name, user_path(user) %>
<% end %>
</nobr><br/>