<h1>Редактировать событие</h1>

<%= render 'form' %>
<br/>
<hr/>
<h3>Удалить событие</h3>
<%= button_to "Удалить", event_path(@event), data: { confirm: "Вы уверенны?" }, method: :delete, class: 'btn btn-danger' %>
<br/>
<hr/>
